{% extends 'base.html' %}
{% block template %}
{% load static %}

<div class="container mt-5">
    <h1>Realiza la prueba</h1>
    <p id="letra" style="font-size: 2rem; text-align: center;"></p>
    <input type="text" id="input-letra" autofocus class="form-control" style="text-align: center;">
    <div class="text-center">
        <button id="ver-resultados-btn" class="btn btn-primary mt-3" style="display: none; text-align: center">Ver Resultados</button>
    </div>
    <p id="mensaje" class="mt-3"></p>
</div>
<script src="{% static 'js/script.js' %}"></script>
{% endblock %}
